/**
 * @file
 * Overall specifications.
 */

html {
  height : 100%;
}

body {
  min-height  : 100%;
  line-height : 1.5;
  word-wrap   : break-word;
  font-family : Tahoma, Geneva, sans-serif;
  font-size   : 87.5%;
}

a,
a.link {
  text-decoration : none;
  border-bottom   : 1px dotted;
}

a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration     : none;
  border-bottom-style : solid;
}

.link {
  font-family : Tahoma, Geneva, sans-serif;
}

h1 a,
h2 a {
  border-bottom : none;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin      : 1.0em 0 0.5em;
  font-weight : inherit;
  font-size   : 1.357em;
  color       : #000000;
}

h2,
.heading-b {
  margin      : 5px;
  font-weight : inherit;
  font-size   : 1.143em;
}

h3,
.heading-c {
  margin      : 5px;
  font-weight : inherit;
  font-size   : 1.092em;
}

h4,
.heading-d {
  margin      : 5px;
  font-weight : inherit;
  font-size   : 1.05em;
}

h5,
.heading-e {
  margin         : 5px;
  font-weight    : inherit;
  font-size      : 0.889em;
  text-transform : uppercase;
  letter-spacing : 0.1em;
}

h6,
.heading-f {
  margin         : 1.0em 0 0.5em;
  font-weight    : inherit;
  font-size      : 0.67em;
  text-transform : uppercase;
  letter-spacing : 0.1em;
}

p {
  margin : 0 0 1.2em;
}

del {
  text-decoration : line-through;
}

blockquote {
  background  : #F7F7F7;
  border-left : 1px solid #BBBBBB; /* LTR */
  font-style  : italic;
  margin      : 1.5em 10px;
  padding     : 0.5em 10px;
}
