/**
 * @file
 * Bartik layout styling.
 */

/**
 * Container
 */
.layout-container {
  max-width    : 860px;
  margin-left  : auto;
  margin-right : auto;
  box-sizing   : border-box;
}

@media all and (min-width : 851px) {
  .layout-container {
    max-width : 1290px;

  }

  body {

    max-width             : 70%;
    margin                : 0 auto;
    margin-top            : 3em;
    background            : #F9F9F9;
    color                 : #555555;
    font                  : 14px/1.7em Tahoma, Geneva, sans-serif;
    background-attachment : fixed;
  }

}

@media all and (max-width : 768px) {
  body {
    min-width : 98%;
  }
}

/**
 * Main
 */
.layout-main-wrapper {
  min-height : 300px;
}

.layout-main {
  margin-top    : 20px;
  margin-bottom : 40px;
}

.region.region-footer-first {
  width   : 33.3333333333%;
  float   : left;
  padding : 20px;
}

.region.region-footer-second {
  width       : 33.3333333333%;
  padding     : 20px;
  margin-left : 33.333333333%;
}

.links li a {
  color            : #100100;
  background-color : #E7E5E3;
  /* padding: 10px; */
  padding          : 4px 5px;
  border-radius    : 4px;
  text-shadow      : 1px 1px #FFFFFF;
  font-weight      : normal;
  border           : none;
}