/* ------------------ Sidebar ----------------- */

@media all and (min-width : 560px) {
  .sidebar {
    float    : left; /* LTR */
    position : relative;
    width    : 50%;
  }

  [dir="rtl"] .sidebar {
    float : right;
  }

  .layout-one-sidebar .sidebar {
    width : 100%;
  }
}

@media all and (min-width : 851px) {
  .layout-one-sidebar .sidebar {
    width : 25%;
  }

  #sidebar-first {
    width       : 30%;
    margin-left : -100%; /* LTR */
  }

  [dir="rtl"] #sidebar-first {
    margin-right : -100%;
    margin-left  : 0;
  }

  #sidebar-second {
    width       : 25%;
    margin-left : -25%; /* LTR */
    clear       : none;
  }

  [dir="rtl"] #sidebar-second {
    margin-right : -25%;
    margin-left  : 0;
  }
}

.sidebar .section {
  padding : 10px 15px 0;
}

.sidebar .block {

  padding : 15px 20px;
  margin  : 0 0 20px;
}

.sidebar h2 {
  margin         : 0 0 0.5em;
  border-bottom  : 1px solid #D6D6D6;
  padding-bottom : 5px;
  text-shadow    : 0 1px 0 #FFFFFF;
  font-size      : 1.071em;
  line-height    : 1.2;
}

.sidebar .block .content {
  font-size   : 0.914em;
  line-height : 1.4;
}

.sidebar tbody {
  border : none;
}

.sidebar tr.even,
.sidebar tr.odd {
  background    : none;
  border-bottom : 1px solid #D6D6D6;
}
