/********* block css *************/

#page-wrapper {
  border     : 1px solid #F1F1F1;
  box-shadow : 0px 0px 10px #DADADA;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background : #FFFFFF;
}

.tabs ul.primary li a.is-active {
  background-color : #FFFFFF;
}

.tabs ul.primary li.is-active a {
  background-color    : #FFFFFF;
  border-bottom-color : #FFFFFF;
}

#header {
  background-color : #FFFFFF;
  min-height       : 11em;

}

h1.page-title {
  color          : #02AACE;
  text-transform : capitalize;

  width          : 100%;
  display        : inline;
  padding        : 10px;
  border-radius  : 4px;
  line-height    : 3em;
  font-size      : 2em;
}

a,
.link {
  color : #0071B3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color : #018FE2;
}

a:active,
.link:active {
  color : #23AEFF;
}

.sidebar .block {
  border : none;
}

.site-footer {
  background : #292929;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a,
.region-secondary-menu .menu-item a {
  color : #FFFEFF;
}

#block-test h2 {
  font-size      : 20px;
  text-transform : capitalize;
}

/****************************************/
