/******COntent article page css***************/

/*******Date and user name article css*********/
span.date {
  color       : #555555;
  font-weight : 300;
}

.name a {
  color          : #555555;
  font-weight    : 300;
  border         : none;
  text-transform : capitalize;
}

span.name:before {
  content     : "\f007";
  font-family : fontawesome;
  margin      : 5px;
  color       : #555555;
}

span.date:before {
  content     : "\f017";
  font-family : fontawesome;
  margin      : 5px;
}

.article-title a {
  color          : #555555;
  text-transform : capitalize;
  font-size      : 1.3em;
}

/******Css for image-style article*********/
img.image-style-medium {
  float     : left;
  border    : 1px solid #CCCCCC;
  padding   : 6px;
  height    : auto;
  max-width : 97.4%;
  margin    : 0.5em 1em 0.5em 0;
}

article.contextual-region {
  border-bottom  : 1px solid #EEEEEE;
  padding-bottom : 28px;
}
