/**** This csss file contain logo , navbarbrand navbar search-block css ******/

/******css logo*********/
#logo {
  float        : left;
  margin-right : 10px;
}

#block-paradise-blogs-branding {
  padding : 32px;
}

#block-paradise-blogs-branding > a {
  border      : none;
  color       : #000000;
  font-size   : 32px;
  line-height : 1.4em;
}

#block-paradise-blogs-branding {
  float       : left;
  margin-left : 14px;
  margin-top  : 20px;
  min-width   : 40%;
  padding     : 14px 14px 14px 0;
}

#block-paradise-blogs-branding h3 {
  margin    : 0;
  font-size : 1.1em;
  color     : grey;
}

.search-block {
  color : black;
}

#block-paradise-blogs-search h2 {
  display : none;
}

input#edit-submit {
  background-color : #A5D9EC;
  text-shadow      : none;
  border           : 1px solid #02AACE;
  border-radius    : 5px;
  padding          : 5px;
  font-size        : 14px;
}

/*header .search-block .button {
    display: none;
}
#edit-actions::before {
    content: "\f002";
    font-family: fontawesome;
    font-size: x-large;
    padding: 7px;
    color: #000;
    vertical-align: middle;
    background-color: #75CFEF;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}
/******************Paradise blog menu css***********************************************/
#block-paradise-blogs-main-menu {
  display       : inline-block;
  width         : 100%;
  min-width     : 100%;
  background    : rgba(183, 222, 237, 1);
  background    : -moz-linear-gradient(-45deg, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 20%, rgba(113, 206, 239, 1) 81%, rgba(183, 222, 237, 1) 100%);
  background    : -webkit-gradient(linear, right bottom, color-stop(0%, rgba(183, 222, 237, 1)), color-stop(20%, rgba(33, 180, 226, 1)), color-stop(81%, rgba(113, 206, 239, 1)), color-stop(100%, rgba(183, 222, 237, 1)));
  background    : -webkit-linear-gradient(-45deg, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 20%, rgba(113, 206, 239, 1) 81%, rgba(183, 222, 237, 1) 100%);
  background    : -o-linear-gradient(-45deg, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 20%, rgba(113, 206, 239, 1) 81%, rgba(183, 222, 237, 1) 100%);
  background    : -ms-linear-gradient(-45deg, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 20%, rgba(113, 206, 239, 1) 81%, rgba(183, 222, 237, 1) 100%);
  background    : linear-gradient(135deg, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 20%, rgba(113, 206, 239, 1) 81%, rgba(183, 222, 237, 1) 100%);
  filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1);
  border-bottom : 5px solid #02AACE;

  line-height   : 3em;
}

#block-paradise-blogs-main-menu ul {
  margin  : 0;
  padding : 0;
}

#block-paradise-blogs-main-menu ul li {
  display : inline;
  padding : 13px;
}

li.menu-top:hover {
  background-color : #02AACE;
}

li.menu-top a {
  border      : none;
  font-size   : 16px;
  /* color: #211F1F; */
  font-weight : 100;
}

#block-paradise-blogs-main-menu ul li a:hover {
  color : #FFFFFF;
}

/**********Media query for device witdh of mininmum 568 px ***********************/

@media all and (min-width : 568px) {
  form#search-block-form {
    width      : 50%;
    float      : right;
    margin-top : 67px;
  }

}

/**********Media query for device witdh of mininmum 800 px ***********************/

@media all and (min-width : 800px) {
  form#search-block-form {
    width         : 200px;
    float         : right;
    margin-top    : 50px;
    margin-bottom : 25px;
    margin-right  : 25px;
  }
}

/************ Media query for maximum width of 567px (smaller screen)*********************************************/
@media all and (max-width : 567px) {

  form#search-block-form {
    float         : right;
    /* display: inline; */
    margin-top    : 8px;
    width         : 69%;
    margin-right  : 42px;
    margin-bottom : 10px;
  }
}

