/***************taxonomy page css ********/

.paradise-taxonomy a {
  display          : inline-table;
  float            : left;
  padding-bottom   : 5px;
  color            : #FFFFFF;
  background-color : #41BFE8;
  padding          : 0px 5px;
  border-radius    : 4px;
  font-weight      : normal;
  border           : none;
  margin-right     : 11px;
}
